.header .top-nav a img{
    width: 40%;
   }
   *{
    box-sizing: border-box;
}
.footer .menufooter .social .hnam h5{
    margin-top: 40px;
}
.main {
    display: flex;
    flex-direction: column ;
    margin: 20px;
}
.main .productt {
    width: 100%;
    
}
.main .productt .productt-it{
   display: flex;
   gap: 20px;
   margin: 20px;
}
.main .productt .productt-it .ittem{
    width: 30%;
}
.main .productt .productt-it .ittem img{
    width: 100%;
}
.main .productt .productt-it .content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main .productt .productt-it .content .input{
    display: flex;
}
.main .productt .productt-it .content .input input{
    width: 50%;
}
button{
    background-color: orange;
    color: white;
}
@media screen and (min-width:768px) {
    .main .productt{
        display: flex;
    }
    .main .productt .productt-it{
        width: 50%;
    }
}
@media screen and (min-width:1200px) {
    .main .productt{
        display: flex;
    }
    .main .productt .productt-it{
        width: 50%;
    }
}