@media screen and (min-width:768px) {
    .footer .menufooter .social{
        
        
    }
    .main .product .product-it .content >button{
        font-size: 20px;
       
    }
 
    .container .footer .menufooter .social .ba > img {
        
        margin: 10px;
         
      }
      .main .product{
        display: flex;
        flex-wrap: wrap;
        
      }
        .product .product-it{
            margin-left: 0px;
            background-color: #f1f1f1;
            width: calc(100%/2);
            height: 100%;
          
            border: solid 20px  rgb(254, 245, 254);
            
          }
}
@media screen and (min-width:1200px) {
  .main .product{
    display: flex;
    flex-wrap: wrap;
    
  }
    .product .product-it{
        margin-left: 0px;
        background-color: #f1f1f1;
        width: calc(100%/3);
        height: 100%;
      
        border: solid 20px  rgb(254, 245, 254);
        
      }
      .container .footer .menufooter .social .ba > img {
        
        margin: 15px;
         
      }
}