*{
    padding: 0;
    margin: 0;
}

body{
    padding: 20px;
}
.item1{ grid-area: header;}
.item2{ grid-area: menu;}
.item3{ grid-area: main;}
.item4{ grid-area: right;}
.item5{ grid-area: footer;}
.container{
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'menu main main right right'
    'footer footer footer footer footer'
    ;
    background-color: #bce2c9;
    gap: 10px;
    padding: 10px;    
}
.container > div {
    background-color: #36B87D;
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
         
}